@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: rgb(97, 97, 97);
}

.ui-home-color-home {
    background-color: #c75b14;
}

.ui-home-color-menu {
    background-color: #c75b14;
}

.ui-home-color-contact {
    background-color: #c75b14;
}

.ui-home-color-book-table {
    background-color: #c75b14;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

p {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}


.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.slogan {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fff;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.variety .card:hover img{
    transform: scale(1.1);
}

/*--------------------------------------------Hero.css*/

#hero{
    display:table;
    width: 100%;
    height: 60vh;
    background: url(/static/images/strawberry-bg.jpg) top center;
    background-size: cover;
}
@media (min-width: 1024px){
    #hero{
        background-attachment: fixed;
    }
}

#hero .hero-logo{
    margin: 20px;
    max-width: 100%;
}
#hero .hero-container{
    background: rgba(0,0,0,0.2);
    display: table-cell;
    margin: 0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Exo", sans-serif;
}
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
}
#hero h2{
    color: #fff;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}
@media (max-width: 768px){
    #hero h2{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: rgba(97, 97, 97, 0.8);
    border: 2px solid rgb(97, 97, 97);
    color: #fff;
    font-family: "Exo", sans-serif;
}
#hero .btn-get-started:hover{
    background: #c75b14;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------food-menu.css*/

.food-menu-title {
    font-family: "Exo", sans-serif;
    padding-bottom: 25px;
}

.variety{
    padding-bottom: 40px;
}
.variety .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}
.variety .card-img{
    width: calc(100% + 60px);
    margin-left:-30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}
.variety .card-img img{
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

h5 {
    font-family: "Roboto", sans-serif;
}

.variety .card:hover img{
    transform: scale(1.1);
}


/*--------------------------------------------Contact-Page*/

.margin-row-find-us {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-bottom: 50px;
    padding-left: 15px;
}

.find-us {
    font-family: "Exo", sans-serif;
    margin-top: 25px;
}

.contact-info {
    padding-right: 25px;
}

.contact-info h4 {
    padding-bottom: 10px;
    margin-top: 25px;
    font-family: "Exo", sans-serif;
}

.contact-info span {
    font-weight: 700;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.opening-hours h4 {
    padding-bottom: 10px;
    margin-top: 25px;
    font-family: "Exo", sans-serif;
}

.opening-hours span {
    font-weight: 700;
    padding: 5px;
    font-family: "Roboto", sans-serif;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 75px;
    background-color: #c75b14;
    color: #fff;
}

/* ----------------------------------------Footer */

footer {
    background-color: rgb(97, 97, 97);
    color: #fff;
    min-height: 120px;
    margin: 0;
}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #c75b14;
}

#footer-details {
    padding: 20px;
}