{% extends "base.html" %}
{% block content1 %}
  <!--Food Menu----->
  <section id="variety" class="variety pt-4">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center food-menu-title">Menu</h2>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/ramen.jpg" alt="ramen">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ramen Soup</h5>
                        <p class="card-text">
                            Delicious Ramen soup with meat, vegetables, egg and japanese noodles.
                        </p>
                        <span class="price font-weight-bold">£14.00</span>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/pasta-basilica.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Pasta Basil</h5>
                        <p class="card-text">
                            Try our fantastic pasta basil with fresh tomatoes, basil and dry chili. 
                        </p>
                        <span class="price font-weight-bold">£12.00</span>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/salmon.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Smoked Salmon</h5>
                        <p class="card-text">
                            Delicious hot smoked salmon bought from towns local deli.
                        </p>
                        <span class="price font-weight-bold">£17.00</span>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/pancakes.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Pancakes</h5>
                        <p class="card-text">
                            The Strawberrys signature dish. Pancakes with syrup topped with strawberrys on top.
                        </p>
                        <span class="price font-weight-bold">£9.00</span>
                    </div>
                </div>
                
            </div>
            <!---->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/steak-and-fries.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Steak with Fries</h5>
                        <p class="card-text">
                            Garlic grilled steak with fries.
                        </p>
                        <span class="price font-weight-bold">£18.00</span>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/hamburger.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Hamburger</h5>
                        <p class="card-text">
                            The Strawberrys smokey bacon and cheeseburger with fries.
                        </p>
                        <span class="price font-weight-bold">£13.00</span>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/club-sandwich.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Club Sandwich</h5>
                        <p class="card-text">
                            Classic club sandwich with fries.
                        </p>
                        <span class="price font-weight-bold">£12.00</span>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/images/salmon-salad.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Salmon Salad</h5>
                        <p class="card-text">
                            Cold smoked salmon with fresh salad.
                        </p>
                        <span class="price font-weight-bold">£14.50</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content2 %}
{% endblock %}
